body{
    background-color: #e9f8a7;
    align-content: center;
    justify-content: center;
}

#main-header{
    color: #1c43f0;
    display: flex;
    justify-content: center;
    font-size: 60px;
    flex-wrap: wrap;
    flex-direction: row;
}/* placing it at the top of the main header, primarily to ensure it is correctly aligned*/
h1{
    color: #3e52ad;
    display: flex;
    justify-content: left;
    font-size: 25px;
}/* Add a design to the header that goes directly to the left. */

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

#design_column{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.left_text{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}
.right_text{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: right;
    gap: 20px;
}

.table_design{
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    border:2px dashed red; 
    justify-content: space-evenly;
}

tr{
    display: flex;
    flex-direction: row;
    gap: 60px;
    text-align: center;
}

th{
    display: flex;
    font-size:24px;
    justify-content: center;
    flex-direction: row;
    gap: 240px;
}

.image_presentation{
    width: 250px;
    height: 200px;
    align-items: center;
}/* */

li{
    color: rgb(84, 48, 184);
    font-size: 48px;
}
p{
    color:rgb(48, 184, 138);
    font-size: 32px;
}

.footer_design{
    color: rgb(158, 144, 135);
    text-align: center;
}

.design_links{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 150px;
} /* Implement a row-based layout for the music links.*/

a:link {
    color:rgb(236, 179, 54);
    font-size: 32px;
}

a:visited{
    color:rgba(99, 221, 191, 0.623);
}

a:hover {
    color:rgb(4, 0, 255);
    text-decoration: emboss;
    font-size: 72px;
}
a:active {
    color: rgb(53, 192, 247);
    
}/* design for the links, the one used in the last class*/
